[Desktop Entry]
Encoding=UTF-8
Name=Bitsex
Comment=Bitsex P2P Cryptocurrency
Comment[fr]=Bitsex, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bitsex, eşten eşe kriptografik sanal para birimi
Exec=bitsex-qt %u
Terminal=false
Type=Application
Icon=bitsex128
MimeType=x-scheme-handler/bitsex;
Categories=Office;Finance;
